---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a software engineer and product designer, my professional goal is to
    leverage my technical skills and communication abilities to contribute to
    the success of an organization and continuously grow as a professional in
    the field of software development and product design.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Science in Computer Science"
      subtitle="2018 to 2022 at STI College Caloocan, Caloocan City, Philippines"
    />
    <TimeLineElement
      title="Information and Communication Technology"
      subtitle="2016 to 2018 at STI College Caloocan, Caloocan City, Philippines"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="From April 2023 to Present at COTIT, Amsterdam, Netherlands"
    >
      I am the Front End Engineer of the team and I mainly focused on
      implementing UIUX Design from FIGMA to a ReactJS, NextJS, Vue and Nuxt
      based project. I also had the responsibility of implementing UIUX Design
      from Figma to a FilamentPHP based project. I am always active in Daily
      Stand Up meetings making sure that I have shared my ideas very well to
      contribute even in the smallest way that I can.
    </TimeLineElement>
    <TimeLineElement
      title="Engineer II, System Structure Design"
      subtitle="From April 2023 to December 2023 at Samsung Philippines, Taguig City, Philippines"
    >
      I am one of the Front End Engineers of the Cloud Solutions Team of Samsung
      mainly focused on implementing UIUX Design from FIGMA to a ReactJS or
      NextJS based project. I am always active in Daily Stand Up meetings making
      sure that I have shared my ideas very well to contribute even in the
      smallest way that I can.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From May 2021 to April 2023 at DigipayPH, Mandaluyong City, Philippines"
    >
      I am one of the Fullstack Software Engineers and Front end Team Lead of
      the company that handles four(4) web applications, three(3) backend
      services, one(1) native Android Mobile application, and also the one who
      deploys changes in the server. The technology stack used to build the
      projects are React, Gatsby, NextJS, Ruby on Rails, NGINX, PUMA, AWS. I
      always participate in Daily Standup Meetings and project presentations for
      our senior management.
    </TimeLineElement>
    <TimeLineElement
      title="Lead Flutter Engineer"
      subtitle="From March 2022 to November 2022 at U-PRO Plus, Tokyo, Japan"
    >
      I am the Lead Flutter Developer of the team. The project is mostly focused
      on creating applications for advertising purposes such as ADs management
      for Beauty Salons in Japan. I always participate in daily stand up
      meetings and at times when I am required to present the new updates for
      the application.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From March 2022 to November 2022 at MYNTHCHAIN, Netherlands, Amsterdam"
    >
      I am one of the React and NextJS Developers and also the Product Designer
      of the applications that needs to be presented as proposal to our
      superiors. The projects are focused on Digital Wallets, Digital Currency
      Trading, and Cyrptocurrency. I always participate in meeting with the
      superiors and supporting the clients.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From May 2021 to March 2022 at ITSY, Netherlands, Amsterdam"
    >
      I am one of the Flutter, React, and NextJS Developers and also the Product
      Designer of the applications that needs to be presented to our superiors.
      The projects are focused on Digital Wallets, Digital Currency, Online
      Workspace, and Cyrptocurrency. I always participate in meeting with the
      superiors and supporting the clients.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From May 2020 to February 2021 at Tech1, Makati City, Philippines"
    >
      I am the pioneer software developer of the company and created six(6)
      mobile applications focused on video call, voice call, and real time
      messaging using tools such as Android Studio, XCode , Flutter, and React
      Native. I always participate in team discussions and project presentations
      in front of our superiors.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.udemy.com/certificate/UC-aaa0a96a-8e9a-4280-a36c-2e46a79ee715/"
        target="_blank">UDEMY - Next.js 14 & React - The Complete Guide</a
      >
    </li>
    <li>
      <a
        href="https://www.udemy.com/certificate/UC-d04c609b-0843-4da8-b13f-67fe7e208c9c/"
        target="_blank"
      >
        UDEMY - React Native - The Practical Guide [2024]</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Javascript</li>
    <li>Typescript</li>
    <li>ReactJS</li>
    <li>Next 14</li>
    <li>Vue 3</li>
    <li>Nuxt 3</li>
    <li>React Native</li>
    <li>TailwindCSS</li>
    <li>ChakraUI</li>
    <li>Redux Tool Kit</li>
    <li>Tanstack Query</li>
    <li>Pinia - Vue.js</li>
  </ul>

  <a
    href="https://firebasestorage.googleapis.com/v0/b/sampleproject-31206.appspot.com/o/Romeo%20D%20Angeles%20Jr%20Resume.pdf?alt=media&token=c453c889-b184-4822-8fe4-ad8ac177c522"
    target="_blank"
    class="btn btn-primary mt-10 text-white w-full"
  >
    Download Resume
  </a>
</BaseLayout>
